@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-image: url('./../imgs/snow.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: #2C4A64;
}

.countdown-time {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    &__header {
        font-size: 4rem;
    }
    &__container {
        // width: 800px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .timerEl {
            text-align: center;
            margin:20px;
            span {
                text-transform: capitalize;
                font-weight: bold;
            }
        }
        .big-text {
            font-size: 5rem;
            margin: 0;
        }
    }
}

